ansible>=8.7.0
coloredlogs>=15.0,<16.0
flake8>=4.0.1,<5.0.0
gitpython>=3.1.29,<4.0.0
Jinja2>=3.1.2,<4.0.0
keystoneauth1>=5.0.0,<6.0.0
mock>=4.0.3,<5.0.0
munch>=2.5.0,<3.0.0
pathlib2>=2.3.7,<3.0.0
pytest>=7.1.2,<8.0.0
python-cinderclient>=9.0.0,<10.0.0
python-glanceclient>=4.0.0,<5.0.0
python-heatclient>=2.0.0,<3.0.0
python-keystoneclient>=4.0.0,<5.0.0
python-neutronclient>=8.0.0,<9.0.0
python-novaclient>=17.0.0,<18.0.0
python-octaviaclient>=3.0.0,<4.0.0
python-openstackclient>=6.0.0,<7.0.0
python-swiftclient>=4.0.0,<5.0.0
pyyaml>=6.0,<7.0
kubernetes>=32.0.0
python-gitlab>=3.0.0,<4.0.0
jmespath>=0.10.0,<1.0.0
#ansible-gendoc>=0.1.11,<1.0.0
docsible>=0.7.16
ansible-lint>=6.13.1,<7.0.0
hvac>=1.0.0,<2.0.0
botocore>= 1.31.0
boto3>=1.28.0
